<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <connectionStrings>
    <add name="cater" connectionString="Server=DESKTOP-ADD3GV7;Database=kaoqin;Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>
